/* General Styles */
:root {
    --lightDyedColor: #c1c5d8;
    --lightGrayBorders: #81878f;
    --hoverColor: rgba(218, 228, 241, 0.3);
    --lightGrayBackgrounds: #E5E5E5;
    --logoColor: #81878f;
    --descriptionColor: #81878f;
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    background: var(--lightDyedColor);
}

main {
    position: relative;
}

/* Header Styles */
header {
    background: white;
    padding: 1.56em 0.93em;
}

header #header-action-container {
    display: flex;
    flex-direction: column;
    gap: 13px;
    justify-content: center;
}

header #color-selector-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

header select {
    width: 100%;
    border-radius: 6px;
    padding: 0.56em 0.81em;
}

header select option {
    padding: 10px;
    text-transform: capitalize;
}

header button {
    font-size: 0.75rem;
    font-weight: 600;
}

header input {
    height: 40px;
    width: 100%;
    border: none;
    background: var(--lightGrayBackgrounds);
}

header input, header select, header button {
    border: 0.5px solid var(--lightGrayBorders);
}

header input:hover, 
header select:hover, 
header button:hover, 
#color-scheme-container div {
    cursor: pointer;
    user-select: none;
}

header button {
    width: 100%;
    background: white;
    border-radius: 4px;
    padding: 0.81em 0.69em;
    transition: all 100ms ease-in-out;
}

header button:hover {
    background: var(--hoverColor);
}

header #logo {
    font-family: 'Pacifico', cursive;
    font-size: 1.7rem;
    font-weight: bold;
    text-align: center;
}

header p {
    text-align: center;
    font-size: 0.8rem;
    margin-bottom: 1.3em;
    color: var(--descriptionColor);
    font-style: italic;
}

/* Color Scheme Container Styles */
#color-scheme-container {
    display: flex;
    flex-direction: column;
}

#color-scheme-container div {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#color-scheme-container div span {
    background: rgba(0, 0, 0, 0.8);
    padding: 0.6em;
    border-radius: 5px;
    color: white;
    font-size: 0.8rem;
}

/* Modal Notification Styles */
#notification-copy-modal {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0 1em;
    border-radius: 5px;
    color: white;
}

#modal-content {
    text-align: center;
}

/* Media Queries */

@media (min-width: 370px) {
    header #color-selector-container {
        flex-direction: row;
    }
    header button {
        width: 35%;
    }
}


@media (min-width: 500px) {
    header #header-action-container {
        flex-direction: row;
    }
    header select {
        width: 300px;
    }
    header button {
        width: auto;
    }
    header input {
        width: 100px;
        height: auto;
    }
}

@media (min-width: 578px) {
}

@media (min-width: 600px) {
    #color-scheme-container {
        flex-direction: row;
    }
    header #logo {
        font-size: 2rem;
        margin: .8em 0 0.8em;
    }
}